body{ /*dit geldt voor elke body*/
    background-color: beige; /*achtergrondkleur van elke pagina*/
}
h1{ /*dit geldt voor elke h1*/
    text-align: center; /*tekst staat in het midden van de breedte*/
    border-style: double; /*2 lijnen als border*/
    border-color: blue; /*blauwe border*/
}
h2{ /*dit geldt voor elke h2*/
    text-align: center;
    border-style: dotted; /*border met stippen*/
    border-color: blue;
}
ul{ /*dit geldt voor elke unordered list*/
    list-style-type: none; /*geen list-style-type*/
    margin: 0; /*er is geen ruimte buiten de rand*/
    padding: 0; /*er is geen ruimte tussen de binnenste box en de buitenste box*/
    overflow: hidden; /*de rest van de inhoud is verborgen*/
    background-color: green; /*achtergrondkleur van het menu is groen*/
}
li a{
    float: left; /*het menu staat aan de linker kant van de pagina*/
}
li a:hover { /*als je met je muis over het menu heen gaat dan gelden de 2 dingen van hieronder*/
    background-color: #db3f2b; /*achtergrond kleur als je met je muis over het menu gaat*/
    color: white; 
}
li a {
    display: block;
    color: rgb(246, 255, 0);
    text-align: right;
    padding: 18px;
    text-decoration:none;
}
.binarybonanza{
text-align: center;
border-style: solid;
border-color: aqua;
}
.overmijborder{
    text-align: center;
    border-style: hidden;
    background-color: white;
}
.indexopmaak{
    text-align: center;
}
.kleinejayden{
    text-align: center;
    border-style: groove;
    border-color: aqua;
}
.bits{
    text-align: center;
}
.tellen{
    text-align: center;
}
.pixels{
    text-align: center;
}
.rgb{
    text-align: center;
}
.cmy{
    text-align: center;
}
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 }
 .lossy{
    text-align: center;
 }
 .lossless{
    text-align: left;
 }
 .fixedlist{
    position: fixed;
    top: 0;
    width: 100%;
 }
 .inhoud{
    margin-top: 35px;
 }
 .bitmap{
    text-align: center;
 }
 .vector{
    text-align: center;
 }
 .sample{
    text-align: center;
 }