body{ /*dit geldt voor elke body*/
    background-color: beige; /*achtergrondkleur van elke pagina*/
}
h1{ /*dit geldt voor elke h1*/
    text-align: center; /*tekst staat in het midden van de breedte*/
    border-style: double; /*2 lijnen als border*/
    border-color: blue; /*blauwe border*/
}
h2{ /*dit geldt voor elke h2*/
    text-align: center;
    border-style: dotted; /*border met stippen*/
    border-color: blue;
}
ul{ /*dit geldt voor elke unordered list*/
    list-style-type: none; /*geen list-style-type*/
    margin: 0; /*er is geen ruimte buiten de rand*/
    padding: 0; /*er is geen ruimte tussen de binnenste box en de buitenste box*/
    overflow: hidden; /*de rest van de inhoud is verborgen*/
    background-color: green; /*achtergrondkleur van het menu is groen*/
}
li a{
    float: left; /*het menu staat aan de linker kant van de pagina*/
}
li a:hover { /*als je met je muis over het menu heen gaat dan gelden de 2 dingen van hieronder*/
    background-color: #db3f2b; /*achtergrond kleur als je met je muis over het menu gaat*/
    color: white; /*kleur van de letters als je met je muis over het menu gaat*/
}
li a { /*listed index, een deel van het menu*/
    display: block; /*blokjesmenu*/
    color: rgb(246, 255, 0); /*kleur van de letter bij het menu*/
    text-align: right;
    padding: 18px; /*zoveel pixels hoog is het menu*/
    text-decoration:none; /*geen tekst decoratie*/
}
.binarybonanza{ /*het spelletje bij de pagina van binaire*/
text-align: center; /*zorgt ervoor dat het spelletje in het midden van de breedte staat*/
border-style: solid; /*zorgt voor een dikke rand om de container*/
border-color: aqua; /*kleur van de border*/
}
.overmijborder{ /*opmaak voor deze container*/
    text-align: center; /*container inhoud staat in het midden van de breedte/*
    border-style: hidden; /*border is verborgen*/
    background-color: white;
}
.indexopmaak{
    text-align: center;
}
.kleinejayden{
    text-align: center;
    border-style: groove; /*een groeve rand om de border*/
    border-color: aqua;
}
.bits{
    text-align: center;
}
.tellen{
    text-align: center;
}
.pixels{
    text-align: center;
}
.rgb{
    text-align: center;
}
.cmy{
    text-align: center;
}
.footer { /*voettekst onderaan de pagina*/
    position: sticky; /*de footer staat aan de onderkant van het scherm en gaat mee als er gescrollt wordt*/
    left: 0; /*geen ruimte links*/
    bottom: 0; /*geen ruimte onder*/
    width: 100%; /*balk van de footer is over de hele breedte*/
    background-color: blue;
    color: white;
    text-align: center;
 }
 .lossy{
    text-align: center;
 }
 .lossless{
    text-align: left;
 }
 .fixedlist{ /*menu verschuift mee bij scrollen*/
    position: fixed;  /*menu verschuift mee bij scrollen*/
    top: 0; /*geen ruimte boven*/
    width: 100%;
 }
 .inhoud{
    margin-top: 35px; /*de ruimte (35 pixels in dit geval) tussen het menu en h1 in dit geval*/
 }
 .bitmap{
    text-align: center;
 }
 .vector{
    text-align: center;
 }
 .sample{
    text-align: center;
 }