body{
    background-color: beige;
}
h1{
    text-align: center;
    border-style: dotted;
    border-color: blue;
    margin: 20;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
li a{
    float: left;
}
li a:hover {
    background-color: #db3f2b;
    color: white;
}
li a {
    display: block;
    color: rgb(246, 255, 0);
    text-align: right;
    padding: 18px;
    text-decoration:none;
}
.binarybonanza{
width: auto;
height: auto;
text-align: center;
border-style: solid;
border-color: aqua;
}
.overmijborder{
    border-style: groove;
    border-color: #db3f2b;
}
.indexopmaak{
    text-align: center;
}