body{
    background-color: beige;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
li a{
    float: left;
}
li a :hover{
    background-color: aqua;
    color: white;
}
li a {
    display: block;
    color: yellow;
    text-align: right;
    padding: 18px;
    text-decoration:none;
}