body
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
li a{
    float: left;
}
li a hover{
    background-color: red;
    color: purple;
}
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 18px;
    text-decoration:none;
}